appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1659291887007/work
Automat==20.2.0
bcrypt @ file:///D:/bld/bcrypt_1666831293551/work
brotlipy @ file:///D:/bld/brotlipy_1666764804378/work
certifi==2022.9.24
cffi @ file:///D:/bld/cffi_1666754925774/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
constantly==15.1.0
cryptography @ file:///D:/bld/cryptography_1666831977369/work
cssselect==1.1.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1660129891014/work
hyperlink @ file:///home/conda/feedstock_root/build_artifacts/hyperlink_1610092164190/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
incremental @ file:///home/conda/feedstock_root/build_artifacts/incremental_1665859450441/work
itemadapter @ file:///home/conda/feedstock_root/build_artifacts/itemadapter_1659518105741/work
itemloaders @ file:///home/conda/feedstock_root/build_artifacts/itemloaders_1661796597649/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
lxml @ file:///D:/bld/lxml_1656759504292/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
parsel @ file:///home/conda/feedstock_root/build_artifacts/parsel_1591122878042/work
Pillow==9.3.0
Protego @ file:///home/conda/feedstock_root/build_artifacts/protego_1647348122707/work
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PyDispatcher==2.0.5
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1665350324128/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PySocks @ file:///D:/bld/pysocks_1661604991356/work
pywin32==303
queuelib @ file:///home/conda/feedstock_root/build_artifacts/queuelib_1629994290383/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1661872987712/work
requests-file @ file:///home/conda/feedstock_root/build_artifacts/requests-file_1591227832914/work
Scrapy @ file:///D:/bld/scrapy_1666169246045/work
service-identity==18.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tldextract @ file:///home/conda/feedstock_root/build_artifacts/tldextract_1664943488272/work
Twisted @ file:///D:/bld/twisted_1662643684874/work
twisted-iocpsupport @ file:///D:/bld/twisted-iocpsupport_1649418015679/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
uuid==1.30
w3lib @ file:///home/conda/feedstock_root/build_artifacts/w3lib_1591173357158/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1666755058235/work
zope.interface @ file:///D:/bld/zope.interface_1666818039562/work
